<?xml version="1.0"?>
<config>
  <modules>
    <Eloom_Yapay>
      <version>##eloom.versao##</version>
    </Eloom_Yapay>
  </modules>

  <frontend>
    <routers>
      <eloomyapay>
        <use>standard</use>
        <args>
          <module>Eloom_Yapay</module>
          <frontName>eloomyapay</frontName>
        </args>
      </eloomyapay>
    </routers>

    <layout>
      <updates>
        <eloom_yapay>
          <file>eloom/yapay.xml</file>
        </eloom_yapay>
      </updates>
    </layout>

    <translate>
      <modules>
        <Eloom_Yapay>
          <files>
            <default>Eloom_Yapay.csv</default>
          </files>
        </Eloom_Yapay>
      </modules>
    </translate>
  </frontend>
  
  <adminhtml>
    <translate>
      <modules>
        <Eloom_Yapay>
          <files>
            <default>Eloom_Yapay.csv</default>
          </files>
        </Eloom_Yapay>
      </modules>
    </translate>
  </adminhtml>

  <global>
    <models>
      <eloom_yapay>
        <class>Eloom_Yapay_Model</class>
        <resourceModel>eloom_yapay_resource</resourceModel>
      </eloom_yapay>

      <eloom_yapay_resource>
        <class>Eloom_Yapay_Model_Resource</class>
      </eloom_yapay_resource>
    </models>

    <resources>
      <eloom_yapay_write>
        <connection>
          <use>core_write</use>
        </connection>
      </eloom_yapay_write>
      <eloom_yapay_read>
        <connection>
          <use>core_read</use>
        </connection>
      </eloom_yapay_read>
      <eloom_yapay_setup>
        <setup>
          <module>Eloom_Yapay</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </eloom_yapay_setup>
    </resources>

    <helpers>
      <eloom_yapay>
        <class>Eloom_Yapay_Helper</class>
      </eloom_yapay>
    </helpers>

    <blocks>
      <eloom_yapay>
        <class>Eloom_Yapay_Block</class>
      </eloom_yapay>
      <adminhtml>
        <rewrite>
          <sales_order_totals>Eloom_Payment_Block_Adminhtml_Sales_Order_Totals</sales_order_totals>
          <sales_order_invoice_totals>Eloom_Payment_Block_Adminhtml_Sales_Order_Invoice_Totals</sales_order_invoice_totals>
          <sales_order_creditmemo_totals>Eloom_Payment_Block_Adminhtml_Sales_Order_Creditmemo_Totals</sales_order_creditmemo_totals>
        </rewrite>
      </adminhtml>
      <sales>
        <rewrite>
          <order_totals>Eloom_Payment_Block_Sales_Order_Totals</order_totals>
          <order_invoice_totals>Eloom_Payment_Block_Sales_Order_Invoice_Totals</order_invoice_totals>
          <order_creditmemo_totals>Eloom_Payment_Block_Sales_Order_Creditmemo_Totals</order_creditmemo_totals>
        </rewrite>
      </sales>
    </blocks>
    
    <sales>
      <quote>
        <totals>
          <eloom_yapay_discount>
            <class>eloom_yapay/sales_quote_address_total_discount</class>
            <after>grand_total</after>
          </eloom_yapay_discount>
          <eloom_yapay_interest>
            <class>eloom_yapay/sales_quote_address_total_interest</class>
            <after>shipping</after>
            <before>grand_total</before>
          </eloom_yapay_interest>
        </totals>
      </quote>
      <order_invoice>
        <totals>
          <eloom_yapay_discount>
            <class>eloom_yapay/sales_order_invoice_total_discount</class>
            <after>grand_total</after>
          </eloom_yapay_discount>
          <eloom_yapay_interest>
            <class>eloom_yapay/sales_order_invoice_total_interest</class>
            <before>grand_total</before>
          </eloom_yapay_interest>
        </totals>
      </order_invoice>
    </sales>
    
    <fieldsets>
      <sales_convert_quote_address>
        <!-- Discount -->
        <yapay_discount_amount>
          <to_order>*</to_order>
        </yapay_discount_amount>
        <yapay_base_discount_amount>
          <to_order>*</to_order>
        </yapay_base_discount_amount>
        <!-- Interest -->
        <yapay_interest_amount>
          <to_order>*</to_order>
        </yapay_interest_amount>
        <yapay_base_interest_amount>
          <to_order>*</to_order>
        </yapay_base_interest_amount>
      </sales_convert_quote_address>
    </fieldsets>
        
    <events>
      <eloom_yapay_cancel_order>
        <observers>
          <eloom_yapay_cancel_order>
            <class>eloom_yapay/observer</class>
            <method>cancelOrder</method>
          </eloom_yapay_cancel_order>
        </observers>
      </eloom_yapay_cancel_order>
      <eloom_yapay_process_transaction>
        <observers>
          <eloom_yapay_process_transaction>
            <class>eloom_yapay/observer</class>
            <method>processTransaction</method>
          </eloom_yapay_process_transaction>
        </observers>
      </eloom_yapay_process_transaction>
    </events>
  </global>

  <admin>
    <routers>
      <eloom_yapay>
        <use>admin</use>
        <args>
          <module>Eloom_Yapay</module>
          <frontName>admin_eloomyapay</frontName>
        </args>
      </eloom_yapay>
    </routers>
  </admin>
  
  <crontab>
    <jobs>
      <eloom_yapay_waiting_payment>
        <schedule>
          <cron_expr>##cron_expr_waitingPaymentTransaction##</cron_expr>
        </schedule>
        <run>
          <model>eloom_yapay/cron::waitingPaymentTransaction</model>
        </run>
      </eloom_yapay_waiting_payment>
      <eloom_yapay_cancel_order_with_payment_expired>
        <schedule>
          <cron_expr>##cron_expr_cancelOrderWithPaymentExpired##</cron_expr>
        </schedule>
        <run>
          <model>eloom_yapay/cron::cancelOrderWithPaymentExpired</model>
        </run>
      </eloom_yapay_cancel_order_with_payment_expired>
    </jobs>
  </crontab>

  <default>
    <payment>
      <eloom_yapay>
        <allowspecific>1</allowspecific>
        <specificcountry>BR</specificcountry>
        <payment_action>sale</payment_action>
        <environment>test</environment>
      </eloom_yapay>
      <eloom_yapay_boleto>
        <active>0</active>
        <title><![CDATA[Boleto Bancário]]></title>
        <model>eloom_yapay/method_boleto</model>
        <expiration>1</expiration>
        <instructions><![CDATA[
<p>O vencimento do boleto será amanhã ou no próximo dia útil em caso de feriados ou finais de semana.</p>
<p>O boleto bancário estará disponível para impressão na página de Confirmação do Pedido.</p>
<p>O prazo de entrega passará a valer a partir do momento em que o banco confirmar o pagamento do boleto. O processo poderá levar até 72h.</p>]]>
        </instructions>
        <cancel>1</cancel>
        <cancel_on_friday>5</cancel_on_friday>
        <cancel_on_saturday>4</cancel_on_saturday>
        <cancel_on_sunday>3</cancel_on_sunday>
        <sort_order>3</sort_order>
      </eloom_yapay_boleto>
      <eloom_yapay_cc>
        <active>0</active>
        <title><![CDATA[Cartão de Crédito]]></title>
        <model>eloom_yapay/method_cc</model>
        <instructions><![CDATA[Não esqueça! O Endereço de Cobrança e Titular do Cartão devem ser os mesmos do Endereço da Fatura do Cartão de Crédito.]]></instructions>
        <min_installment>9.00</min_installment>
        <receipt>A</receipt>
        <total_installmens>12</total_installmens>
        <installmens_without_interest>3</installmens_without_interest>
        <interest>1.99</interest>
        <sort_order>4</sort_order>
      </eloom_yapay_cc>
      <eloom_yapay_terminal>
        <active>0</active>
        <title><![CDATA[Yapay - Televendas]]></title>
        <instructions><![CDATA[<p>Um email com um link de pagamento será enviado ao cliente.</p>]]></instructions>
        <model>eloom_yapay/method_terminal</model>
        <sort_order>5</sort_order>
      </eloom_yapay_terminal>
    </payment>
  </default>
</config>