<?xml version="1.0"?>
<config>
  <sections>
    <payment>
      <groups>
        <eloom_yapay translate="label" module="eloom_yapay">
          <label><![CDATA[Yapay]]></label>
          <sort_order>1020</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <allowspecific translate="label">
              <label><![CDATA[Payment from applicable countries]]></label>
              <frontend_type>allowspecific</frontend_type>
              <source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <sort_order>4</sort_order>
            </allowspecific>
            <specificcountry translate="label">
              <label><![CDATA[Payment from Specific countries]]></label>
              <frontend_type>multiselect</frontend_type>
              <source_model>adminhtml/system_config_source_country</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <sort_order>5</sort_order>
            </specificcountry>
            <environment>
              <label><![CDATA[Environment]]></label>
              <frontend_type>select</frontend_type>
              <source_model>eloom_yapay/system_config_source_environment</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <sort_order>6</sort_order>
            </environment>
            <credentials translate="label">
              <label><![CDATA[<strong>CONVÊNIO</strong>]]></label>
              <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </credentials>
            <token translate="label">
              <label><![CDATA[Token]]></label>
              <frontend_type>text</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <sort_order>11</sort_order>
            </token>
            <order_status translate="label">
              <label><![CDATA[<strong>ORDER STATUS</strong>]]></label>
              <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
              <sort_order>25</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </order_status>
            <new_order_status translate="label comment">
              <label>New Order Status</label>
              <sort_order>26</sort_order>
              <frontend_type>select</frontend_type>
              <validate>required-entry</validate>
              <source_model>adminhtml/system_config_source_order_status_new</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment><![CDATA[When the order has the NEW and IN PROGRESS state type in Magento will put the order in this status.]]></comment>
            </new_order_status>
            <approved_order_status translate="label comment">
              <label>Approved Order Status</label>
              <sort_order>27</sort_order>
              <frontend_type>select</frontend_type>
              <validate>required-entry</validate>
              <source_model>adminhtml/system_config_source_order_status_processing</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment><![CDATA[When the order has the APPROVED status type in Magento will put the order in this status.]]></comment>
            </approved_order_status>
          </fields>
        </eloom_yapay>
        
        <eloom_yapay_boleto translate="label"
                           module="eloom_yapay">
          <label><![CDATA[Yapay - Boleto Bancário]]></label>
          <sort_order>1021</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <title translate="label">
              <label><![CDATA[Title]]></label>
              <frontend_type>text</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <sort_order>1</sort_order>
            </title>
            <active translate="label">
              <label><![CDATA[Enabled]]></label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <sort_order>2</sort_order>
            </active>
            <!--
            <expiration translate="label">
              <label><![CDATA[Validade]]></label>
              <frontend_type>text</frontend_type>
              <sort_order>3</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment><![CDATA[Quantidade, em dias, que o boleto será válido.]]></comment>
            </expiration>
            -->
            <instructions translate="label">
              <label><![CDATA[Instructions]]></label>
              <frontend_type>textarea</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <sort_order>4</sort_order>
            </instructions>
            <cancellation translate="label">
              <label><![CDATA[<strong>CANCELAMENTO</strong>]]></label>
              <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </cancellation>
            <cancel translate="label">
              <label><![CDATA[Cancelar boletos automaticamente?]]></label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <sort_order>11</sort_order>
            </cancel>
            <cancel_on_friday translate="label">
              <label><![CDATA[Compras na Sexta-feira]]></label>
              <frontend_type>text</frontend_type>
              <validate>required-entry validate-length maximum-length-5</validate>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <sort_order>12</sort_order>
              <depends>
                <cancel>1</cancel>
              </depends>
              <comment><![CDATA[Prazo, em dias corridos, que o sistema cancelará as compras realizadas na Sexta-feira.<br/>O sistema irá somar este prazo com o prazo de Validade do Boleto.]]></comment>
            </cancel_on_friday>
            <cancel_on_saturday translate="label">
              <label><![CDATA[Compras no Sábado]]></label>
              <frontend_type>text</frontend_type>
              <validate>required-entry validate-length maximum-length-5</validate>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <sort_order>13</sort_order>
              <depends>
                <cancel>1</cancel>
              </depends>
              <comment><![CDATA[Prazo, em dias corridos, que o sistema cancelará as compras realizadas no Sábado.<br/>O sistema irá somar este prazo com o prazo de Validade do Boleto.]]></comment>
            </cancel_on_saturday>
            <cancel_on_sunday translate="label">
              <label><![CDATA[Compras entre Domingo e Quinta-feira]]></label>
              <frontend_type>text</frontend_type>
              <validate>required-entry validate-length maximum-length-5</validate>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <sort_order>14</sort_order>
              <depends>
                <cancel>1</cancel>
              </depends>
              <comment><![CDATA[Prazo, em dias corridos, que o sistema cancelará as compras realizadas entre Domingo e Quinta-feira.<br/>O sistema irá somar este prazo com o prazo de Validade do Boleto.]]></comment>
            </cancel_on_sunday>
            <sorting translate="label">
              <label><![CDATA[<strong>ORDENAÇÃO</strong>]]></label>
              <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
              <sort_order>98</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </sorting>
            <sort_order translate="label">
              <label>Sort Order</label>
              <frontend_type>text</frontend_type>
              <sort_order>99</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </sort_order>
          </fields>
        </eloom_yapay_boleto>
        
        <eloom_yapay_cc translate="label" module="eloom_yapay">
          <label><![CDATA[Yapay - Cartão de Crédito]]></label>
          <sort_order>1022</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <title translate="label">
              <label><![CDATA[Title]]></label>
              <frontend_type>text</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <sort_order>1</sort_order>
            </title>
            <active translate="label">
              <label><![CDATA[Enabled]]></label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <sort_order>2</sort_order>
            </active>
            <discount translate="label">
              <label><![CDATA[Desconto à Vista]]></label>
              <frontend_type>text</frontend_type>
              <validate>validate-length maximum-length-5</validate>
              <sort_order>3</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment><![CDATA[Desconto em percentual aplicado apenas na primeira parcela. Caso não seja informado, nenhum desconto será aplicado. Valor máximo: 99.99 <br/> Ex: 4.75.]]></comment>
            </discount>
            <interest translate="label">
              <label><![CDATA[Juros % (a.m.)]]></label>
              <frontend_type>text</frontend_type>
              <validate>validate-length maximum-length-5</validate>
              <sort_order>4</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment><![CDATA[Os juros são calculados utilizando a Tabela Price.]]></comment>
            </interest>
            <instructions translate="label">
              <label><![CDATA[Instructions]]></label>
              <frontend_type>textarea</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <sort_order>5</sort_order>
            </instructions>
            <installments translate="label">
              <label><![CDATA[<strong>PARCELAMENTO</strong>]]></label>
              <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </installments>
            <min_installment translate="label">
              <label><![CDATA[Parcela Mínima]]></label>
              <frontend_type>text</frontend_type>
              <validate>validate-length maximum-length-5</validate>
              <sort_order>11</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment><![CDATA[Valor da Parcela Mínima.<br/> Ex: 9.00.]]></comment>
            </min_installment>
            <total_installmens translate="label">
              <label><![CDATA[Número total de parcelas]]></label>
              <frontend_type>select</frontend_type>
              <source_model>eloom_yapay/system_config_source_installments</source_model>
              <sort_order>12</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment><![CDATA[Deve ser configurado <strong>exatamente</strong> conforme contratado.]]></comment>
            </total_installmens>
            <installmens_without_interest translate="label">
              <label><![CDATA[Número de parcelas sem juros]]></label>
              <frontend_type>select</frontend_type>
              <source_model>eloom_yapay/system_config_source_installments</source_model>
              <sort_order>13</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment><![CDATA[Deve ser configurado <strong>exatamente</strong> conforme contratado.]]>
              </comment>
            </installmens_without_interest>
            <receipt translate="label">
              <label><![CDATA[Forma de Recebimento]]></label>
              <frontend_type>select</frontend_type>
              <source_model>eloom_yapay/system_config_source_receipt</source_model>
              <sort_order>14</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <depends>
                <active>1</active>
              </depends>
              <comment><![CDATA[Deve ser configurado <strong>exatamente</strong> conforme contratado.]]></comment>
            </receipt>
            <sorting translate="label">
              <label><![CDATA[<strong>ORDENAÇÃO</strong>]]></label>
              <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
              <sort_order>98</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </sorting>
            <sort_order translate="label">
              <label>Sort Order</label>
              <frontend_type>text</frontend_type>
              <sort_order>99</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </sort_order>
          </fields>
        </eloom_yapay_cc>

        <eloom_yapay_terminal translate="label" module="eloom_yapay">
          <label><![CDATA[Yapay - Televendas]]></label>
          <sort_order>1023</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <title translate="label">
              <label><![CDATA[Title]]></label>
              <frontend_type>text</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <sort_order>1</sort_order>
            </title>
            <active translate="label">
              <label><![CDATA[Enabled]]></label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <sort_order>2</sort_order>
            </active>
            <instructions translate="label">
              <label><![CDATA[Instructions]]></label>
              <frontend_type>textarea</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <sort_order>3</sort_order>
            </instructions>
            <sorting translate="label">
              <label><![CDATA[<strong>ORDENAÇÃO</strong>]]></label>
              <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
              <sort_order>98</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </sorting>
            <sort_order translate="label">
              <label>Sort Order</label>
              <frontend_type>text</frontend_type>
              <sort_order>99</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </sort_order>
          </fields>
        </eloom_yapay_terminal>
      </groups>
    </payment>
  </sections>
</config>